@import "./brictson-reset.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    --font-h1: 2.986rem;
    --font-h2: 2.488rem;
    --font-h3: 2.074rem;
    --font-h4: 1.728rem;
    --font-h5: 1.44rem;
    --font-large: 1.2rem;
    --font-small: 0.833rem;
    --font-xsmall: 0.694rem;
    --color-copy: #222222;
    --color-bg: #fff;
    --color-p1: #F03A47;
    --color-p2: #FFC145;
    --color-p3: #009DDC;
    --color-p4: #2A2D34;
}

body {
    display: flex;
    color: var(--color-copy);
    background-color: var(--color-bg);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px 0 0 0;
}

nav .btn {
    padding: 5px 0;
}

#sidebar {
    padding: 40px 20px;
}

#add-task {
    color: var(--color-p1);
}

#projects .btn {
    margin-left: 20px;
}

#app {
    padding: 60px;
}

.task {
    width: max-content;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
}

.description,
.due-date,
.project {
    font-size: var(--font-small);
}

.description {
    color: #757575;
}

.info {
    display: flex;
    justify-content: space-between;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}

.P1 {
    border: 2px solid var(--color-p1);
}

.P2 {
    border: 2px solid var(--color-p2);
}

.P3 {
    border: 2px solid var(--color-p3);
}

.P4 {
    border: 2px solid var(--color-p4);
}